<div class="hi"  style="background-image: url('/images/16.jpg'); width: 100%; height: 100vh; background-size: cover; background-position: center;">
  <div class="col-md-6 m-auto">
    <div class="container mt-1  pl-5">
      <h2 class="text-center"></h2>
      <form action="/sign" method="post">
         <div class="form-group"  >
    <label for="Name">Name</label>
    <input type="text" class="form-control" name="Name" placeholder="Name">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" name="Email"  placeholder="Enter email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="Password" placeholder="Password">
  </div>
 
  <a href="/login" style="color:blue;"><span class="glyphicon glyphicon-exclamation-sign">Already have account</span></a>
  <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>
    </div>
  </div>
</div>